#spin {
font-size:2vw;
color: white;
font-weight: 900;
padding: 10px 10px;
border-radius: 15px;
background-size: cover;
background-color: #FFCC00;
border: .5vw solid #CDA400;
}

#spin:active {
background-color: #8A8A8A;
}

#output {
color: white;
font-size:1.5vw;
font-weight: 900;
margin-top: 5px;
}

#output2 {
font-size:3vw;
font-weight: 900;
margin-top: 5px;
}